body {
  background-color: #4F4343;
  margin: 0;
  font-family: 'Lexend', sans-serif;
}

.App {
  background-color: #4F4343;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 20px;
}


#titulo {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: white
}

#descricao-card {
  background-color: #5C4C4C;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.descricao {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.6;
  color: #F0EAEA;
  margin-bottom: 1rem;
}

#info-card {
  background-color: #6B5C5C;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
  font-size: 1.1rem;
  color: #FFFFFF;
  margin: 0.5rem 0;
}
#icon img {
  width: 5rem;
  margin-left: -1rem;
  margin-top: -8rem;  
  transition: transform 0.3s;
}
